.login {
	width: 300px;
	position: absolute;
	top: 40%;
	position: absolute;
	top: 40%;
	left: 40%;
}

body {
	background: #f5f6f7;
	margin: 0;
	padding: 0;
}

.login_text {
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 15%;
}

input {
	width: 100%;
	heigh: 100vw;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.login_btn>button {
	width: 100%;
	font-size: 20px;
	background-color: #FCF2CE;
	color: #b5c1c1;
	border: none;
}
.login_btn > a > button {
	width: 100%;
	font-size: 20px;
	background-color: #FCF2CE;
	color: #b5c1c1;
	border: none;
}