body {
	line-height: 2em;
	font-family: "맑은 고딕";
	margin-left: auto;
	margin-right: auto;
}

.paging {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 100vh;
}
.footer{
	height: 100vh;
	
}