.content {
	width: 100%;
	text-align: center;
}

.reply {
	list-style: none;
}
.button {
	text-align: center;
}
.inner_index {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
#rdbtn{
    cursor: pointer;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.board_title {

	font-weight : 700;

	font-size : 22pt;

	margin : 10pt;

}

.board_info_box {

	color : #6B6B6B;

	margin : 10pt;

}

.board_author {

	font-size : 10pt;

	margin-right : 10pt;

}

.board_date {

	font-size : 10pt;

}

.board_content {

	color : #444343;

	font-size : 12pt;

	margin : 10pt;

}

.board_tag {
	
	font-size : 11pt;

	margin : 10pt;

	padding-bottom : 10pt;
	
}















* {
    margin: 0;
    padding: 0
}
#calendarForm{
    width: 100%;
    max-width: 596px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
     text-align: center;
}
.custom_calendar_table td {
    text-align: center;
}

.custom_calendar_table thead.cal_date th {
    font-size: 1.5rem;
}

.custom_calendar_table thead.cal_date th button {
    font-size: 1.5rem;
    background: none;
    border: none;
}

.custom_calendar_table thead.cal_week th {
    background-color: #288CFF;
    color: #fff;
}

.custom_calendar_table tbody td {
    cursor: pointer;
}

.custom_calendar_table tbody td:nth-child(1) {
    color: red;
}

.custom_calendar_table tbody td:nth-child(7) {
    color: #288CFF;
}

.custom_calendar_table tbody td.select_day {
    background-color: #288CFF;
    color: #fff;
}
.currentdate{
    background-color: red;
    color: #fff;
}

