.content {
	width: 100%;
	text-align: center;
}

.reply {
	list-style: none;
	text-align: center;
}
.button {
	text-align: center;
}
.inner_index {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}